.button {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    border: 2px solid;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;

    &.primary {
        background-color: $two;
        border-color: $two;
        color: $white;
    }

    &.secondary {
        background-color: transparent;
        border-color: $two;
    }

    &.no-border {
        border: none;
    }
}
