button {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;
    border-color: $light-blue-400;
    background-color: $light-blue-700;
    font-size: 14px;

    &.secondary {
        background-color: transparent;
        border-color: $blue-900;
    }

    &.no-border {
        border: none;
    }
}
