form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .form-header {
        text-align: center;
        padding: 20px 0;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 30px;
    }

    .form-footer {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .error {
        font-size: 14px;
        color: rgb(222 135 135);
        margin: 0;
    }

    .form-control {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            font-size: 14px;
            font-weight: 500;
        }

        input {
            padding: 10px;
            border: 1px solid;
            font-size: 14px;
            color: $black;

            &:focus {
                outline: none;
            }
        }
    }
}
