.nav-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $one;
}

.mobile {
    position: relative;
    display: flex;
}

.mobile-menu {
    position: absolute;
    display: flex;
    top: 110%;
    width: 150px;
    right: 0;
    z-index: 2;
    background-color: $four;

    .links {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;

        a {
            width: auto;
            color: $black;
            text-decoration: none;
            text-align: right;
            font-size: 14px;
            padding: 5px;
            border-bottom: 1px solid $one;
        }
    }
}

.desktop {
    display: none;
}

@media screen and (width >= 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}
