.nav-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $zinc-900;
}

.mobile {
    position: relative;
    display: flex;
}

.mobile-menu {
    position: absolute;
    display: flex;
    top: 110%;
    min-width: 150px;
    right: 0;
    z-index: 2;
    background-color: $zinc-800;
    border-radius: 8px;

    .links {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 20px;

        a {
            width: auto;
            color: $zinc-200;
            text-decoration: none;
            text-align: right;
            font-size: 20px;
            padding: 5px;
            border-bottom: 1px solid $zinc-600;
            transition: all 0.3s;
        }
    }
}

.desktop {
    display: none;
}

@media screen and (width >= 1200px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}
