@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-Black.woff2') format('woff2'),
        url('SofiaSans-Black.woff') format('woff'),
        url('SofiaSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-ExtraLightItalic.woff2') format('woff2'),
        url('SofiaSans-ExtraLightItalic.woff') format('woff'),
        url('SofiaSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-Italic.woff2') format('woff2'),
        url('SofiaSans-Italic.woff') format('woff'),
        url('SofiaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-Bold.woff2') format('woff2'),
        url('SofiaSans-Bold.woff') format('woff'),
        url('SofiaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-BoldItalic.woff2') format('woff2'),
        url('SofiaSans-BoldItalic.woff') format('woff'),
        url('SofiaSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-ExtraLight.woff2') format('woff2'),
        url('SofiaSans-ExtraLight.woff') format('woff'),
        url('SofiaSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-Medium.woff2') format('woff2'),
        url('SofiaSans-Medium.woff') format('woff'),
        url('SofiaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-LightItalic.woff2') format('woff2'),
        url('SofiaSans-LightItalic.woff') format('woff'),
        url('SofiaSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-Light.woff2') format('woff2'),
        url('SofiaSans-Light.woff') format('woff'),
        url('SofiaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-ExtraBold.woff2') format('woff2'),
        url('SofiaSans-ExtraBold.woff') format('woff'),
        url('SofiaSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-BlackItalic.woff2') format('woff2'),
        url('SofiaSans-BlackItalic.woff') format('woff'),
        url('SofiaSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('SofiaSans-ExtraBoldItalic.woff') format('woff'),
        url('SofiaSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-Regular.woff2') format('woff2'),
        url('SofiaSans-Regular.woff') format('woff'),
        url('SofiaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-SemiBoldItalic.woff2') format('woff2'),
        url('SofiaSans-SemiBoldItalic.woff') format('woff'),
        url('SofiaSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-SemiBold.woff2') format('woff2'),
        url('SofiaSans-SemiBold.woff') format('woff'),
        url('SofiaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-MediumItalic.woff2') format('woff2'),
        url('SofiaSans-MediumItalic.woff') format('woff'),
        url('SofiaSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-ThinItalic.woff2') format('woff2'),
        url('SofiaSans-ThinItalic.woff') format('woff'),
        url('SofiaSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('SofiaSans-Thin.woff2') format('woff2'),
        url('SofiaSans-Thin.woff') format('woff'),
        url('SofiaSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

