.container {
    min-height: 85vh;
}

#app {
    display: flex;
    flex-direction: column;
}

#main {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 90%;
    display: flex;
    justify-content: center;
}