.restaurants {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    max-width: 600px;
}

.restaurant {
    min-height: 150px;
    min-width: 300px;
    background-color: $zinc-800;
    border-radius: 8px;
    border: 1px solid $zinc-700;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    .restaurant-content {
        display: flex;
        gap: 5px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .restaurant-footer {
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        .button {
            font-size: 24px;
            width: auto;
            padding: 0;

            .icon-write {
                color: $blue-600;
            }

            .icon-trash {
                color: $red-600;
            }
        }
    }
}
